html, body{
    background-color: #333;
    height: 100%;
}
#container{
    height: 100vmin;
    display: grid;
    /*makes sticky footer*/
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                        "main"
                        "footer";
    color: white;
    background-color: #333;
}

header{
    grid-area: header;
    font-size: 2em;
    padding: 10px;
}
main{
    grid-area: main;
    display: grid;
    grid-template-rows: minmax(70px,20%) 4fr;
    grid-template-areas: "newBook"
                        "cardContainer";
}
footer{
    grid-area: footer;
    padding: 10px;
}

#newBook{
    grid-area: newBook;
    cursor: pointer;
    font-size: 1.5em;
    transition: .5s;
    box-shadow: 4px 0px 4px #111;
}

#newBook:hover{
    background-color: #111;
}
#newBook:active{
    background-color: #4b760e;

}

.center-items{
    display: grid;
    place-items: center;
    /*short for align-items and justify-items: ;*/
}


#cardContainer{
    grid-area: cardContainer;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    place-items: stretch;
    gap: 2em;
    padding: 2em;
}
.card{
    background-color:  #4b760e;
    display: grid;
    place-items: center;
    transition: .5s;
    border: 2px dashed white;
    border-radius: 5px;
    box-shadow: 5px 5px #111;
}
.card:hover{
    transform: scale(1.2);
}
.card *{
    padding: 10px;
}

.cardButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    
}

.cardButton{
    display: grid;
    place-items: center;
    text-align: center;
    opacity: .7;
    cursor: pointer;
    transition: .5s;
    
}
.cardButton:hover{
    opacity: 1;
    transform: scale(1.2);
}
.cardButton:active{
    opacity: .7;
}

.readButton{
    background-color: #00a;
}

.deleteButton{
    background-color: #a00;
}

form{
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000a;
    display: grid;
    place-items: center;
    visibility: hidden;
    
}
fieldset{
    display: grid;
    gap: 10px;
    background-color: #333;
    padding: 15px;
    color: white;
    font-weight: bolder;
    border: 2px dashed white;
    box-shadow: 5px 5px 4px black;
}

input:invalid{
    border: 2px solid red;
}

